*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: #131313;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 50px;
}

nav img {
    width: 80px;
    display: flex;
    align-items: center;
    padding-top: 15%;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar_links{
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-left: 3.5rem;
    height: 100%;
}

#active {
    color: rgb(119, 166, 247);
}

.navbar_links:hover {
    color: #77A6F7;
    transition: all 0.3s ease;
}

.sub_menu {
    display: none;
}

.navbar_container li:hover .sub_menu {
    display: block;
    position: absolute;
    background: #131313;
    margin-left: -15px;
    /*border: 1px solid #f0e9e9;*/
    width: 210px;
    border-radius: 4px;
    /*box-shadow: 2px 2px 4px #e9e3e3;*/
}

.sub_menu ul {
    list-style: none;
    text-align: left;
    margin-top: 1.4rem;
    
    margin-bottom: 2.5rem;
}

.navbar_container li:hover .sub_menu ul {
    display: block;
}

.sub_menu ul li a {
    text-decoration: none;
    font-size: 0.95rem;
    color: #fff;
}

.sub_menu ul li {
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.sub_menu ul li:hover {
    background-color: #1e364b;
}

@media screen and (max-width: 960px){
    .navbar {
        height: 80px;
    }

    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar_menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease; 
        z-index: 99;
        height: 400px;
        font-size: 1.0rem;
    }

    nav img {
        width: 60px;
        padding-top: 16%;
        margin-left: 25%;
    }

    .navbar_item {
        height: -40px;
    }

    .navbar_toogle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #77A6F7;
    }

    .navbar_links {
        text-align: left;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toogle .bar {
        display: block;
        cursor: pointer;
    }

    .sub_menu ul {
        margin-top: 1.0rem;
        margin-bottom: 1.5rem;
    }

    .sub_menu ul li {
        margin-top: 0;
        margin-bottom: 0.2rem;
    }

    .navbar_container li:hover .sub_menu {
        margin-top: -1rem;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar_container li:hover .sub_menu {
        border: 1px solid #f0e9e9;
        margin-left: 15px;
        width: 90%;
    }
}

/*Hero CSS*/
.hero {
    min-height: 88vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/DSC_0614.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero_container {
    width: 100%;
    max-width: 88%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-90%);
    text-align: left;
}

.hero_container h1 {
    font-size: 55px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 768px) {
    .hero_container h1{
        font-size: 25px;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .hero_container h1 {
        font-size: 21px;
        margin-top: 3rem;
    }
}

.annoucement {
    width: 100%;
    margin-top: 7rem;
}

.annoucement_container {
    width: 100%;
    max-width: 88%;
    margin: 0 auto;
}

.annoucement_container h1 {
    font-size: 34px;
    margin-bottom: 3rem;
    font-weight: 600;
}

.annoucement_video video {
    height: 400px;
    width: 100%;
    border-radius: 8px;
    position: relative;
    object-fit: cover;
}

@media screen and (max-width: 960px){
    .annoucement {
        margin-top: 5rem;
    }

    .annoucement_container h1 {
        font-size: 21px;
        margin-bottom: 2rem;
    }

    .annoucement_video {
        height: 300px;
    }
}

.socials {
    width: 100%;
    margin-top: 7rem;
}

.socials_container {
    width: 100%;
    max-width: 88%;
    margin: 0 auto;
    background-color: #F9F9F9;
    padding-top: 3.5rem;
    text-align: center;
    padding-bottom: 3.5rem;
    box-shadow: 0 6px 8px 3px rgba(0, 0, 0, .2);
}

.socials_container h1 {
    font-size: 34px;
    margin-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.socials_icon img {
    margin: 20px 20px;
    width: 50px;
}

@media screen and (max-width: 960px) {
    .socials_container h1 {
        font-size: 28px;
        margin-bottom: 2.5rem;
        padding-left: 0;
        padding-right: 0;
    }

    .socials_icon img {
        width: 40px;
    }
}

@media screen and (max-width: 400px) {
    .socials_icon img {
        margin: 10px 10px;
    }
}

.youtube {
    width: 100%;
    margin-top: 7rem;
}

.youtube_container {
    width: 100%;
    max-width: 88%;
    margin: 0 auto;
}

.youtube_container h1 {
    font-size: 34px;
    margin-bottom: 3rem;
    font-weight: 600;
}

.youtube_video {
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #dad7d7;
    border-radius: 8px;
}

.youtube_video p {
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    margin-top: 14%;
}

@media screen and (max-width: 960px){
    .youtube {
        margin-top: 5rem;
    }

    .youtube_container h1 {
        font-size: 21px;
        margin-bottom: 2rem;
    }

    .youtube_video {
        height: 300px;
    }

    .youtube_video p {
        font-size: 30px;
        font-weight: 600;
        margin-top: 30%;
    }
}

/*Believers CSS*/
.believer {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 7rem;
}

.believer h1 {
    margin-bottom: 2rem;
    font-size: 34px;
}

.believer_container {
    width: 100%;
    max-width: 88%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 3rem;
}

.believer_col {
    flex-basis: 48%;
}

.believer_col img {
    width: 100%;
    border-radius: 10px;
    height: 380px;
}

.believer_col_2 {
    background-position: center;
    background-size: cover;
    position: relative;
    flex-basis: 48%;
    height: 280px;
    border-radius: 8px;
}

@media screen and (max-width: 960px) {
    .believer {
        margin-top: 5rem;
    }

    .believer h1 {
        font-size: 25px;
    }

    .believer_container {
        flex-direction: column;
        margin-top: 0;
    }

    .believer_col {
        margin-bottom: 1.5rem;
        padding: 20px 2px;
        padding-bottom: 40px;
        height: 280px;
        margin-top: 0;
    }

    .believer_col_2 {
        
    }
}

.footer {
    width: 100%;
    background-color: #013667;
    margin-top: 7rem;
    padding: 4rem 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer_container {
    width: 100%;
    max-width: 88%;
    margin: 0 auto;
}

.footer_container img {
    width: 80px;
}

.footer_container p {
    color: #ffff;
    font-size: medium;
    margin-top: 2rem;
}

.footer_links {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.footer_container a {
    text-decoration: none;
    color: #ffff;
    font-size: medium;
    margin: 20px 20px;
}

.footer_socials img {
    margin: 20px 20px;
    width: 50px;
}

@media screen and (max-width: 960px) {
    .footer_container img {
        width: 60px;
    }    

    .footer_container p {
        font-size: 14px;
    }

    .footer_container a {
        font-size: 14px;
    }

    .footer_socials img {
        width: 40px;
    }
}

@media screen and (max-width: 655px) {
    .footer_container a {
        margin: 10px 5px;
    }
}

@media screen and (max-width: 528px) {
    .footer_socials img {
        margin: 10px 5px;
    }
}