{% load static from static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Check out the RCCG Christ Ambassadors Upcoming Events and Annoucement and other Media Resources." />
    <title>Media Resources</title>
    <link rel="stylesheet" href="{% static 'css/mediaresources.css'%}">
    <link rel="shortcut icon" href="{% static 'images/rccgcayclogo.png'%}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>

    <!--- Navbar Section --> 
    <nav class="navbar">
        <div class="navbar_container">
            <a href="{% url 'home' %}"><img src="{% static 'images/rccgcayclogo.png'%}" alt="Cayc logo"></a>
            <div class="navbar_toogle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar_menu">
                <li class="navbar_item">
                    <a href="{% url 'home' %}" class="navbar_links" >Home</a>
                </li>
                <li class="navbar_item"><a href="#" class="navbar_links">About</a>
                    <div class="sub_menu">
                        <ul>
                            <li><a href="missionandvision">Mission and Vision</a></li>
                            <li><a href="housefellow">House Fellowship</a></li>
                            <li><a href="contact">Contact Us</a></li>
                        </ul>
                    </div>
                </li>
                <li class="navbar_item">
                    <a href="onlinegiving" class="navbar_links">Online Giving</a>
                </li>
                <li class="navbar_item">
                    <a href="mediaresources" class="navbar_links" id="active">Media Resources</a>
                </li>
                <li class="navbar_item"><a href="#" class="navbar_links">Quick Links</a>
                    <div class="sub_menu">
                        <ul>
                            <li><a href="testimony">Testimony</a></li>
                            <li><a href="altarcall">Salvation Call</a></li>
                            <li><a href="firsttimer">First Timer</a></li>
                            <li><a href="youthdiary">Youth Diary</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!--- Hero Section --> 
    <section class="hero">
        <div>
            <div class="hero_container">
                <h1>Media Resources</h1>
            </div>
        </div>
    </section>

    <!--- Annocement Section -->
    <div class="annoucement">
        <div class="annoucement_container">
            <h1>Check out our latest announcement</h1>
            <div class="annoucement_video">
                <video controls>
                    <source src="{% static 'video/movie.mp4'%}" type="video/mp4">
                </video>  
            </div>
        </div>
    </div>

    <div class="socials">
        <div class="socials_container">
            <h1>JOIN OUR STREAMING CHANNELS AND CONNECT WITH OUR SOCIAL MEDIA HANDLES</h1>
            <div class="socials_icon">
                <a href="https://m.facebook.com/rccgcayc" target="_blank"><img src="{% static 'images/Facebook.svg'%}" alt=""></a>
                <a href="https://www.youtube.com/channel/UCDu6naosx_oDU5VpYJEbYlw" target="_blank"><img src="{% static 'images/Youtube.svg'%}" alt=""></a>
                <a href="https://www.instagram.com/rccgcayc" target="_blank"><img src="{% static 'images/Instagram.svg'%}" alt=""></a>
                <a href="https://twitter.com/rccgcayc" target="_blank"><img src="{% static 'images/Twitter.svg'%}" alt=""></a>
            </div>
        </div>
    </div>

    <!--- youtube Section -->
    <div class="youtube">
        <div class="youtube_container">
            <h1>You can watch our service live here </h1>
            <div class="youtube_video">
                <p>STAY TUNED</p>
            </div>
        </div>
    </div>

    <!--- believer Section --> 
    <div class="believer">
        <h1>Upcoming Events</h1>
        <div class="believer_container">
            <div class="believer_col">
                <img src="{% static 'images/14days.jpg'%}" alt="">
            </div>
            <div class="believer_col">
                <img src="{% static 'images/WashHub.png'%}" alt="">
            </div>
        </div>
    </div>

    <!--- believer Section --> 
    <div class="believer_container">
        <div class="believer_col">
            <img src="{% static 'images/imieteprojection.png'%}" alt="">
        </div>
        <div class="believer_col_2">
            
        </div>
    </div>

    <div class="footer">
        <div class="footer_container">
            <a href="{% url 'home' %}"><img src="{% static 'images/rccgcayclogo.png'%}" alt=""></a>
            <p>© 2022 CHRIST AMBASSADOR YOUTH CHURCH. ALL RIGHTS RESERVED.</p>
            <div class="footer_links">
                <a href="missionandvision">ABOUT</a>
                <a href="onlinegiving">ONLINE GIVING</a>
                <a href="mediaresources">MEDIA RESOURCES</a>
                <a href="youthdiary">QUICK LINKS</a>
            </div>
            <div class="footer_socials">
                <a href="https://m.facebook.com/rccgcayc" target="_blank"><img src="{% static 'images/Facebook.svg'%}" alt=""></a>
                <a href="https://www.youtube.com/channel/UCDu6naosx_oDU5VpYJEbYlw" target="_blank"><img src="{% static 'images/Youtube.svg'%}" alt=""></a>
                <a href="https://www.instagram.com/rccgcayc" target="_blank"><img src="{% static 'images/Instagram.svg'%}" alt=""></a>
                <a href="https://twitter.com/rccgcayc" target="_blank"><img src="{% static 'images/Twitter.svg'%}" alt=""></a>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/home.js'%}"></script>
</body>
</html>